.icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  .brandname {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .brand,
  .column {
    display: flex;
    justify-content: flex-start;
  }
  .brand {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-5xs);
    gap: var(--gap-5xs);
  }
  .column {
    width: 320px;
    flex-direction: column;
    align-items: flex-start;
  }
  .company {
    align-self: stretch;
    position: relative;
    line-height: 150%;
  }
  .footer-links {
    align-self: stretch;
    gap: var(--gap-5xs);
  }
  .column3,
  .content,
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content {
    align-self: stretch;
    gap: var(--gap-base);
  }
  .column3 {
    flex: 1;
  }
  .link6 {
    position: relative;
    line-height: 150%;
  }
  .columns,
  .small-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .small-columns {
    width: 600px;
    height: 169px;
    padding: var(--padding-base) 0 0;
    box-sizing: border-box;
    gap: var(--gap-64xl);
  }
  .columns {
    width: 1200px;
    gap: var(--gap-111xl);
  }
  .text {
    flex: 1;
    position: relative;
    line-height: 150%;
  }
  .copyright,
  .footer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .copyright {
    box-shadow: 0-1px 0#e4ebf3;
    width: 940px;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-base) 0;
    text-align: center;
    color: var(--color-snow-100);
  }
  .footer {
    position: absolute;
    top: 825px;
    background-color: var(--color-gray-300);
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-45xl) var(--padding-5xl) var(--padding-5xs);
    gap: var(--gap-21xl);
    text-align: left;
    font-size: var(--open-sans-semibold-14-size);
    color: var(--white);
    font-family: var(--copy-button);
  }
  .b {
    font-family: var(--open-sans-semibold-16);
  }
  .visiata-systems-international {
    font-weight: 600;
    color: var(--color-royalblue);
  }
  .all-rights-reserved-container {
    position: absolute;
    bottom: -1190px;
    left: calc(50% - 259px);
    text-decoration: underline;
    color: inherit;
  }
  .icon1 {
    position: absolute;
    top: 12.5px;
    left: 0;
    width: 24px;
    height: 24px;
  }
  .brandname1 {
    position: absolute;
    top: 14px;
    left: 32px;
    line-height: 150%;
    font-weight: 600;
  }
  .vector-icon {
    position: absolute;
    height: 83.44%;
    width: 66.56%;
    top: 8.44%;
    right: 16.88%;
    bottom: 8.13%;
    left: 16.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .notifications-fill0-wght400-gr {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }
  .group-child {
    position: absolute;
    top: 8.5px;
    left: 350.5px;
    border-radius: 50%;
    background-color: var(--color-firebrick);
    border: 1px solid var(--white);
    box-sizing: border-box;
    width: 8px;
    height: 8px;
  }
  .notifications-fill0-wght400-gr-parent {
    position: absolute;
    top: 8.5px;
    left: 1076.3px;
    width: 358.5px;
    height: 32px;
  }
  .user,
  .user-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
  .user-wrapper {
    top: 15px;
    left: 1188px;
    width: 37px;
    height: 19px;
    font-size: var(--open-sans-semibold-16-size);
    color: var(--heading);
  }
  .group-item {
    position: absolute;
    top: 0;
    left: 1126px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .icon-parent {
    position: relative;
    width: 1434.8px;
    height: 50px;
  }
  .download-inner {
    margin: 0;
    position: absolute;
    top: 0;
    left: 1px;
    background-color: var(--color-whitesmoke-200);
    width: 1439px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-81xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--open-sans-semibold-14-size);
    color: var(--colors-accent);
    font-family: var(--copy-button);
  }
  .frame-child {
    position: absolute;
    top: 6px;
    left: 13px;
  }
  .order-succesfull {
    position: relative;
    font-weight: 600;
  }
  .order-succesfull-wrapper {
    position: absolute;
    top: 44px;
    left: calc(50% - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .your-order-will {
    position: relative;
    display: inline-block;
    width: 698px;
    flex-shrink: 0;
  }
  .your-order-will-be-shipped-soo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-group {
    position: absolute;
    top: 136px;
    left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    font-size: var(--open-sans-semibold-16-size);
    font-family: var(--open-sans-semibold-16);
  }
  .button1,
  .frame-parent {
    font-family: var(--rubik-32);
    text-align: left;
  }
  .frame-parent {
    position: absolute;
    top: 175px;
    left: calc(50% - 379px);
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 4px 74px 6px rgba(0, 0, 0, 0.04);
    width: 758px;
    height: 267px;
    overflow: hidden;
    font-size: var(--rubik-32-size);
    color: var(--neutral-gray-gray-25);
  }
  .button1 {
    position: relative;
    font-size: var(--open-sans-semibold-14-size);
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white);
  }
  .style-layer {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-500);
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-base);
    box-sizing: border-box;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 489px;
    left: calc(50% - 215px);
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .download {
    position: relative;
    background-color: var(--color-whitesmoke-100);
    width: 100%;
    height: 1159px;
    overflow: hidden;
    text-align: center;
    font-size: var(--open-sans-semibold-16-size);
    color: var(--dark-gray);
    font-family: var(--open-sans-semibold-16);
  }
  