<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/users.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Public Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
    />
  </head>
  <body>
    <form action="/addProducts" method="post" enctype="multipart/form-data">
      <div class="uploads">
      <header class="uploads-inner">
        <div class="icon-parent">
          <img class="icon" alt="" src="./public/icon@2x.png" />

          <div class="brandname">MarketPlace</div>
          <div class="notifications-fill0-wght400-gr-parent">
            <button class="notifications-fill0-wght400-gr">
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5835 25.8333V23.8333H8.25016V13.7C8.25016 11.8333 8.80016 10.1611 9.90016 8.68332C11.0002 7.20555 12.4502 6.27777 14.2502 5.89999V5.16666C14.2502 4.6111 14.4446 4.13888 14.8335 3.74999C15.2224 3.3611 15.6946 3.16666 16.2502 3.16666C16.8057 3.16666 17.2779 3.3611 17.6668 3.74999C18.0557 4.13888 18.2502 4.6111 18.2502 5.16666V5.89999C20.0502 6.27777 21.5002 7.20555 22.6002 8.68332C23.7002 10.1611 24.2502 11.8333 24.2502 13.7V23.8333H26.9168V25.8333H5.5835ZM16.2502 29.8333C15.5168 29.8333 14.8891 29.5722 14.3668 29.05C13.8446 28.5278 13.5835 27.9 13.5835 27.1667H18.9168C18.9168 27.9 18.6557 28.5278 18.1335 29.05C17.6113 29.5722 16.9835 29.8333 16.2502 29.8333ZM10.2502 23.8333H22.2502V13.7C22.2502 12.0333 21.6668 10.6167 20.5002 9.44999C19.3335 8.28332 17.9168 7.69999 16.2502 7.69999C14.5835 7.69999 13.1668 8.28332 12.0002 9.44999C10.8335 10.6167 10.2502 12.0333 10.2502 13.7V23.8333Z" fill="#3B3B3B"/>
                    </svg>
            </button>
            <div class="group-child"></div>
          </div>
          <div class="john-24-wrapper">
            <b class="john-24"><%= user ? user.name : 'Unknown' %></b>
          </div>
          <img class="group-item" alt="" src="<%= user.photo ? `/uploads/${user.photo}` : '/uploads/default.jpg' %>" />
        </div>
      </header>
      <section class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="iconamoonprofile-bold-parent">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 18C4 16.9391 4.42143 15.9217 5.17157 15.1716C5.92172 14.4214 6.93913 14 8 14H16C17.0609 14 18.0783 14.4214 18.8284 15.1716C19.5786 15.9217 20 16.9391 20 18C20 18.5304 19.7893 19.0391 19.4142 19.4142C19.0391 19.7893 18.5304 20 18 20H6C5.46957 20 4.96086 19.7893 4.58579 19.4142C4.21071 19.0391 4 18.5304 4 18Z" stroke="#F8F8F8" stroke-width="2.5" stroke-linejoin="round"/>
                <path d="M12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10Z" stroke="#F8F8F8" stroke-width="2.5"/>
                </svg>                

          <a class="profile">Profile</a>
        </div>
        <div class="material-symbolsupload-parent">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 16V7.85L8.4 10.45L7 9L12 4L17 9L15.6 10.45L13 7.85V16H11ZM6 20C5.45 20 4.97933 19.8043 4.588 19.413C4.19667 19.0217 4.00067 18.5507 4 18V15H6V18H18V15H20V18C20 18.55 19.8043 19.021 19.413 19.413C19.0217 19.805 18.5507 20.0007 18 20H6Z" fill="#F8F8F8"/>
                </svg>
                

          <a href="/users/uploads" class="uploads1">Uploads</a>
        </div>
        <div class="lets-iconsorder-light-parent">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 4H7C5.89543 4 5 4.89543 5 6V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V6C19 4.89543 18.1046 4 17 4Z" stroke="#F8F8F8"/>
                <path d="M9 9H15M9 13H15M9 17H13" stroke="#F8F8F8" stroke-linecap="round"/>
                </svg>
                

          <a class="profile">Orders</a>
        </div>
        <img class="frame-item" alt="" src="./public/line-12@2x.png" />

        <div class="brand">
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 3.5C11.4288 3.5 8.91543 4.26244 6.77759 5.6909C4.63975 7.11935 2.97351 9.14968 1.98957 11.5251C1.00563 13.9006 0.748189 16.5144 1.2498 19.0362C1.75141 21.5579 2.98953 23.8743 4.80762 25.6924C6.6257 27.5105 8.94208 28.7486 11.4638 29.2502C13.9856 29.7518 16.5995 29.4944 18.9749 28.5104C21.3503 27.5265 23.3807 25.8603 24.8091 23.7224C26.2376 21.5846 27 19.0712 27 16.5C26.9964 13.0533 25.6256 9.74882 23.1884 7.31163C20.7512 4.87445 17.4467 3.50364 14 3.5ZM14 27.5C11.8244 27.5 9.69767 26.8549 7.88873 25.6462C6.07979 24.4375 4.66989 22.7195 3.83733 20.7095C3.00477 18.6995 2.78693 16.4878 3.21137 14.354C3.63581 12.2202 4.68345 10.2602 6.22183 8.72183C7.76021 7.18345 9.72022 6.1358 11.854 5.71136C13.9878 5.28692 16.1995 5.50476 18.2095 6.33733C20.2195 7.16989 21.9375 8.57979 23.1462 10.3887C24.3549 12.1977 25 14.3244 25 16.5C24.9967 19.4164 23.8367 22.2123 21.7745 24.2745C19.7123 26.3367 16.9164 27.4967 14 27.5ZM8.00001 14C8.00001 13.7033 8.08798 13.4133 8.2528 13.1666C8.41762 12.92 8.65189 12.7277 8.92598 12.6142C9.20007 12.5006 9.50167 12.4709 9.79264 12.5288C10.0836 12.5867 10.3509 12.7296 10.5607 12.9393C10.7704 13.1491 10.9133 13.4164 10.9712 13.7074C11.0291 13.9983 10.9994 14.2999 10.8858 14.574C10.7723 14.8481 10.58 15.0824 10.3334 15.2472C10.0867 15.412 9.79668 15.5 9.50001 15.5C9.10218 15.5 8.72065 15.342 8.43935 15.0607C8.15804 14.7794 8.00001 14.3978 8.00001 14ZM21 14C21 14.2652 20.8946 14.5196 20.7071 14.7071C20.5196 14.8946 20.2652 15 20 15H17C16.7348 15 16.4804 14.8946 16.2929 14.7071C16.1054 14.5196 16 14.2652 16 14C16 13.7348 16.1054 13.4804 16.2929 13.2929C16.4804 13.1054 16.7348 13 17 13H20C20.2652 13 20.5196 13.1054 20.7071 13.2929C20.8946 13.4804 21 13.7348 21 14ZM19.865 20C18.5788 22.2238 16.4413 23.5 14 23.5C11.5588 23.5 9.42126 22.225 8.13376 20C8.06809 19.8862 8.02548 19.7607 8.00835 19.6304C7.99122 19.5002 7.99991 19.3679 8.03392 19.241C8.06793 19.1142 8.1266 18.9952 8.20657 18.891C8.28654 18.7868 8.38625 18.6994 8.50001 18.6338C8.61376 18.5681 8.73934 18.5255 8.86957 18.5083C8.99979 18.4912 9.13212 18.4999 9.25898 18.5339C9.38585 18.5679 9.50478 18.6266 9.60897 18.7066C9.71317 18.7865 9.80059 18.8862 9.86626 19C10.7988 20.6138 12.2663 21.5 14 21.5C15.7338 21.5 17.2013 20.6125 18.135 19C18.1975 18.8805 18.2836 18.7749 18.388 18.6895C18.4924 18.6041 18.6129 18.5407 18.7425 18.5031C18.872 18.4655 19.0078 18.4546 19.1417 18.4708C19.2756 18.4871 19.4048 18.5303 19.5215 18.5978C19.6383 18.6652 19.7402 18.7557 19.8211 18.8636C19.902 18.9715 19.9603 19.0946 19.9924 19.2256C20.0245 19.3566 20.0297 19.4927 20.0078 19.6258C19.9859 19.7589 19.9374 19.8862 19.865 20Z" fill="#F2FFF5"/>
                </svg>                
          <div class="brandname1">MarketPlace</div>
        </div>
        <div class="material-symbolslogout-parent">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 21C4.45 21 3.979 20.804 3.587 20.412C3.195 20.02 2.99934 19.5493 3 19V5C3 4.45 3.196 3.979 3.588 3.587C3.98 3.195 4.45067 2.99934 5 3H12V5H5V19H12V21H5ZM16 17L14.625 15.55L17.175 13H9V11H17.175L14.625 8.45L16 7L21 12L16 17Z" fill="#ECECEC"/>
                </svg>                

          <a class="profile" href="/signout" >Logout</a>
        </div>
        <div class="epsetting-parent">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3118 2C14.4706 2.00001 14.6253 2.05041 14.7536 2.14394C14.8819 2.23748 14.9772 2.36933 15.0258 2.5205L15.8508 5.084C16.1973 5.2535 16.5288 5.444 16.8453 5.6585L19.4793 5.0915C19.6346 5.05834 19.7964 5.07534 19.9415 5.14003C20.0865 5.20473 20.2073 5.31379 20.2863 5.4515L22.3653 9.05C22.4447 9.18763 22.4783 9.34693 22.4614 9.5049C22.4444 9.66288 22.3777 9.81139 22.2708 9.929L20.4633 11.924C20.4896 12.3065 20.4896 12.6905 20.4633 13.073L22.2708 15.071C22.3777 15.1886 22.4444 15.3371 22.4614 15.4951C22.4783 15.6531 22.4447 15.8124 22.3653 15.95L20.2863 19.55C20.207 19.6874 20.0862 19.7962 19.9412 19.8606C19.7962 19.925 19.6345 19.9418 19.4793 19.9085L16.8453 19.3415C16.5303 19.5545 16.1973 19.7465 15.8523 19.916L15.0258 22.4795C14.9772 22.6307 14.8819 22.7625 14.7536 22.8561C14.6253 22.9496 14.4706 23 14.3118 23H10.1538C9.99504 23 9.84035 22.9496 9.71204 22.8561C9.58373 22.7625 9.48842 22.6307 9.43983 22.4795L8.61633 19.9175C8.27076 19.7485 7.93744 19.5555 7.61883 19.34L4.98633 19.9085C4.83103 19.9417 4.66921 19.9247 4.52418 19.86C4.37915 19.7953 4.25841 19.6862 4.17933 19.5485L2.10033 15.95C2.02094 15.8124 1.98731 15.6531 2.0043 15.4951C2.02128 15.3371 2.088 15.1886 2.19483 15.071L4.00233 13.073C3.97615 12.6914 3.97615 12.3086 4.00233 11.927L2.19483 9.929C2.088 9.81139 2.02128 9.66288 2.0043 9.5049C1.98731 9.34693 2.02094 9.18763 2.10033 9.05L4.17933 5.45C4.25862 5.31256 4.37947 5.20381 4.52447 5.13939C4.66948 5.07497 4.83119 5.05821 4.98633 5.0915L7.61883 5.66C7.93683 5.4455 8.26983 5.252 8.61633 5.0825L9.44133 2.5205C9.48976 2.36982 9.58462 2.23832 9.71233 2.14482C9.84004 2.05133 9.99405 2.00064 10.1523 2H14.3103H14.3118ZM13.7628 3.5H10.7028L9.85083 6.1505L9.27633 6.431C8.9939 6.56921 8.72127 6.72657 8.46033 6.902L7.92933 7.262L5.20533 6.674L3.67533 9.326L5.54283 11.393L5.49783 12.029C5.47628 12.3426 5.47628 12.6574 5.49783 12.971L5.54283 13.607L3.67233 15.674L5.20383 18.326L7.92783 17.7395L8.45883 18.098C8.71977 18.2734 8.9924 18.4308 9.27483 18.569L9.84933 18.8495L10.7028 21.5H13.7658L14.6208 18.848L15.1938 18.569C15.4759 18.4311 15.7481 18.2737 16.0083 18.098L16.5378 17.7395L19.2633 18.326L20.7933 15.674L18.9243 13.607L18.9693 12.971C18.991 12.6569 18.991 12.3416 18.9693 12.0275L18.9243 11.3915L20.7948 9.326L19.2633 6.674L16.5378 7.259L16.0083 6.902C15.7481 6.72622 15.476 6.56884 15.1938 6.431L14.6208 6.152L13.7643 3.5H13.7628ZM12.2328 8C13.4263 8 14.5709 8.47411 15.4148 9.31802C16.2587 10.1619 16.7328 11.3065 16.7328 12.5C16.7328 13.6935 16.2587 14.8381 15.4148 15.682C14.5709 16.5259 13.4263 17 12.2328 17C11.0394 17 9.89476 16.5259 9.05085 15.682C8.20693 14.8381 7.73283 13.6935 7.73283 12.5C7.73283 11.3065 8.20693 10.1619 9.05085 9.31802C9.89476 8.47411 11.0394 8 12.2328 8ZM12.2328 9.5C11.4372 9.5 10.6741 9.81607 10.1115 10.3787C9.5489 10.9413 9.23283 11.7044 9.23283 12.5C9.23283 13.2956 9.5489 14.0587 10.1115 14.6213C10.6741 15.1839 11.4372 15.5 12.2328 15.5C13.0285 15.5 13.7915 15.1839 14.3541 14.6213C14.9168 14.0587 15.2328 13.2956 15.2328 12.5C15.2328 11.7044 14.9168 10.9413 14.3541 10.3787C13.7915 9.81607 13.0285 9.5 12.2328 9.5Z" fill="#ECECEC"/>
                </svg>                

          <a class="profile">Settings</a>
        </div>
      </section>
      <div class="form">
        <div class="text">Add Product</div>
        <div class="body">
          <div class="text-field">
            <div class="label">
              <div class="product-name">Product Name</div>
            </div>
          </div>
          <input class="email" name="name" placeholder="*Name Your Model" type="text" />
         
          <div class="text-area">
            <div class="label">
              <div class="product-name">Description</div>
            </div>
          </div>
          <input class="email1" name="description" placeholder="*Description" type="text" />
        </div>
      </div>
      <div class="form2">
        <div class="text">Media</div>
        <div class="img-uploader">
          <div class="label">
            <div class="product-name">Photo</div>
          </div>
          <div class="uploader">
            <div class="square-icon-badge">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_273_3284)">
                    <path d="M8.84181 9.40213C8.63286 9.19305 8.38476 9.02719 8.11168 8.91402C7.8386 8.80086 7.5459 8.74261 7.25031 8.74261C6.95471 8.74261 6.66201 8.80086 6.38894 8.91402C6.11586 9.02719 5.86776 9.19305 5.65881 9.40213L0.528809 14.5321C0.598154 15.4727 1.01999 16.3524 1.70996 16.9954C2.39994 17.6384 3.30719 17.9972 4.25031 18.0001H14.7503C15.4851 18 16.2035 17.7826 16.8151 17.3754L8.84181 9.40213Z" fill="white"/>
                    <path d="M14 6.00022C14.8284 6.00022 15.5 5.32865 15.5 4.50023C15.5 3.6718 14.8284 3.00023 14 3.00023C13.1716 3.00023 12.5 3.6718 12.5 4.50023C12.5 5.32865 13.1716 6.00022 14 6.00022Z" fill="white"/>
                    <path d="M14.75 0H4.25C3.2558 0.00119089 2.30267 0.396661 1.59966 1.09966C0.896661 1.80267 0.501191 2.7558 0.5 3.75L0.5 12.4395L4.598 8.3415C4.94623 7.99318 5.35967 7.71686 5.81471 7.52835C6.26974 7.33983 6.75746 7.2428 7.25 7.2428C7.74254 7.2428 8.23026 7.33983 8.68529 7.52835C9.14033 7.71686 9.55377 7.99318 9.902 8.3415L17.8752 16.3148C18.2825 15.7031 18.4999 14.9848 18.5 14.25V3.75C18.4988 2.7558 18.1033 1.80267 17.4003 1.09966C16.6973 0.396661 15.7442 0.00119089 14.75 0V0ZM14 7.5C13.4067 7.5 12.8266 7.32405 12.3333 6.99441C11.8399 6.66476 11.4554 6.19623 11.2284 5.64805C11.0013 5.09987 10.9419 4.49667 11.0576 3.91473C11.1734 3.33279 11.4591 2.79824 11.8787 2.37868C12.2982 1.95912 12.8328 1.6734 13.4147 1.55764C13.9967 1.44189 14.5999 1.5013 15.1481 1.72836C15.6962 1.95542 16.1648 2.33994 16.4944 2.83329C16.8241 3.32664 17 3.90666 17 4.5C17 5.29565 16.6839 6.05871 16.1213 6.62132C15.5587 7.18393 14.7956 7.5 14 7.5Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_273_3284">
                    <rect width="18" height="18" fill="white" transform="translate(0.5)"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="drag-and-drop">
              <label for="imageInput" class="file-label">
                Drag and drop images here, 
              </label>
              <input type="file" name="images" id="imageInput" class="file-input" accept="image/*" multiple>
            </div>
          </div>
        </div>
      </div>
      <div class="form3">
        <div class="text">Category</div>
        <div class="body">
          <div class="select">
            <div class="label">
              <div class="product-name">Product Category</div>
            </div>
            <select class="select-option" name="categoryId" required>
              <% categories.forEach(category => { %>
                <option value="<%= category.name %>"><%= category.name %></option>
              <% }); %>
            </select>
              <div class="text-field">
              <div class="label">
                <div class="product-name">Quantity</div>
              </div>
            </div>
            <input class="price" name="quantity" placeholder="*quantity" type="text" />
            <div class="text-field">
              <div class="label">
                <div class="product-name">Price</div>
              </div>
            </div>
            <input class="price" name="price" placeholder="*price" type="text" />
          </div>
        </div>
      </div>
     
    </div>
    <button class="button1">
      <div class="style-layer">
        <div class="button2" type="submit">UPLOAD</div>
      </div>
    </button>
    </form>
  </body>
  
</html>
